<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>关于我们</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	</head>
	<body>
	    <header class="mui-bar mui-bar-nav bg_white">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title colorP">关于我们</h1>
	    </header>
		<div class="mui-content paddingl_r_15px_tb11px">
			<p class="color333 margin-bottom20px padding_t10px text-indent2em">
				公司拥有强大的市场研究团队和专业电子商务运营队伍，目前在编员工数量超过500人，并且具备丰富的打造电子商务交易平台的实战经验。公司汇聚了大量B2C电子商务行业精英，已组成专业化的市场调研、分析、推广和客户服务团队，同时公司专注于技术实力的投资，以打造全国一流的电子商务交易平台另外，拥有一流的工作环境及完备的管理体系是公司始终坚持的团队原则。运用全新而独特的理念，致力为包括但不限于有意电子商务市场的厂家商户以及个人网民，提供专业优质的B2C交易服务。
			</p>
			<p class="color333 margin-bottom20px padding_t10px">
				我们的理念：一切服从于市场，一切源于客户
				我们的精神：创新，务实，合作，共赢
			</p>
			<div class="contact_us">
				<p class="color333">客服热线：400-12345678</p>
				<p class="color333">邮箱: shequshangcheng@163.com</p>
				<p class="color333">公司网站：www.shequshangcheng.com</p>
				<a onclick="dialTest()" class="mui-icon iconfont phone_btn colorP">&#xe611;</a>
			</div>
			
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/open.js"></script>
	<script>
		
		function dialTest() {
    	plus.nativeUI.confirm("您确定要拨打电话吗？",
        function(event){
            if(event.index ==1){
                plus.device.dial( "400-12345678", false );
            }else{
                return false;
            }
        }
        ,'客服消息',['取消','确定']
    )
     
}
	</script>
</html>