<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的群聊</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
   
</head>
<body ng-app="addgroupApp" ng-controller="addgroupController">
	<header class="mui-bar mui-bar-nav bg_white">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title colorP">我的群聊</h1>
	    <button class="mui-btn-link mui-pull-right" ng-click="group_array()"><span class="colorP">关联</span></button>
	</header>
	<div class="mui-content">
		<div></div>
      <ul class="mui-table-view bg_white" id="groups">
              <li class="mui-table-view-cell padding0" ng-repeat="x in group" >
				<div class="mui-input-row mui-checkbox mui-left">
					<label>
						<img src="{{x.icon}}" class="circle_pic"/>
						<span class="padding_lr_10px">{{x.group_name}}{{x.group_id}}</span>
					</label>  
					<input id="{{x.group_id}}" value="{{x.group_id}}" type="checkbox">
				</div>
              </li>
         </ul>
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script> 
<script src="../js/jquery.min.js"></script>
<script src="../js/open.js"></script>
<script src="../js/apppublic.js"></script>
<script src="../js/app/add_group.js"></script>
<script type="text/javascript" charset="UTF-8">
  	mui.init();
</script>
</html>