<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>申请卖主</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link href="../css/mui.picker.css" rel="stylesheet" />
	<link href="../css/mui.poppicker.css" rel="stylesheet" />
	<script src="../js/apppublic.js"></script>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	<link rel="stylesheet" type="text/css" href="../css/apply_for_seller.css"/>
	<style type="text/css">
		.upfile_box img{
			margin-top: -2px;
		}
		.upfile_box{float: none;margin: 20px auto 0;}
	</style>
</head>
<body ng-app="applyApp" ng-controller="applyController">
	<header class="mui-bar mui-bar-nav bg_white">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title colorP">申请卖主</h1>
	    <button ng-click="apply_sub()" class="mui-btn-link mui-pull-right" id="submit_btn" disabled><span class="colorP">提交</span></button>
	</header>
	<div class="mui-content">
		<div></div>
		<ul class="mui-table-view bg_white margin-bottom10px">
		        <li class="mui-table-view-cell">
		            <div class="mui-input-row">
		                <label>真实姓名</label>
		                <input type="text" placeholder="请输入收货人" id="merchant_name" name="name" ng-blur="check_name()" value="">
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div class="mui-input-row">
		                <label >手机号码</label>
		                <input type="number" placeholder="请输入电话号码" id="merchant_mobile" name="mobile"  ng-blur="check_phoneNumber()" value="">
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div class="mui-input-row">
		                <label >身份证</label>
		                <input type="text" placeholder="请输入身份证号码" id="merchant_card" name="card"   ng-blur="check_IDcard()" value="">
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div class="mui-input-row">
		                <label >收款方式</label>
		                <div class="pay_type">
		                	<div class="mui-input-row mui-radio mui-left">
			                    <label>支付宝</label>
			                    <input name="channel" type="radio" value="0">
			                </div>
			                 <div class="mui-input-row mui-radio mui-left pay_type">
			                    <label>微信</label>
			                    <input name="channel" type="radio" value="1">
			                </div>
		                </div>
		            </div>		            
		        </li>
		        <li class="mui-input-row border-bottom">
		            <input type="number" name="number" class="mui-input-clear" style="padding: 12px;height: 50px;font-size: 16px;width: 95%;" id="merchant_number"  placeholder="请输入收款账号"   ng-blur="check_receipt_num()">
		        </li>
		        <li class="paddingl_r_15px_tb11px">
		            <div class="mui-input-row">
		                <label style="display: block;width: 100%;">照片上传</label>
		                
		                <div class="upfile_box" id="pic1" data-ind="1" style="margin-top: 40px;">
					        <!--<input type="file" id="uploadimg10" name="photo[]"class="upload_file"/>-->
					        <div id="show_pic10"  class="a1">
					        	<i class="iconfont mui-icon mobilepic">&#xe6de;</i>
					        </div>
					    </div>
					    <p class="mui-text-center font12">请上传本人照片</p>
					    
					    <div class="upfile_box " id="pic2" data-ind="2">
					        <!--<input type="file" id="uploadimg11" name="photo[]" class="upload_file"/>-->
					        <div id="show_pic11" class="a2">
					        	<i class="iconfont mui-icon mobilepic">&#xe6de;</i>
					        </div>
					    </div>
					    <p class="mui-text-center font12">请上传本人身份证正面</p>
					    
					    <div class="upfile_box " id="pic3" data-ind="3">
					        <div id="show_pic12" class="a3">
					        	<i class="iconfont mui-icon mobilepic">&#xe6de;</i>
					        </div>
					    </div>
					    <p class="mui-text-center font12">请上传本人身份证反面</p>
		            </div>
		        </li>
		        <li class="mui-table-view-cell">资质说明</li>
		        <li class="border-bottom">
		        	<textarea name="" rows="6" cols="" id="merchant_summary" class="font14" placeholder="自我描述，增加客户对你的信任" ng-blur="check_aptitude()"></textarea>		        	
		        </li>
				<!--<li class="paddingl_r_15px_tb11px">
		            <div class="mui-input-row">
		                <label style="display: block;width: 100%;">照片上传</label>
	                	<div class="upfile_box" id='pic4' data-ind="4">
					        <div id="show_pic13" class="a4"> 
					        	<i class="iconfont mui-icon " id="icon">&#xe6de;</i>
					        </div>
					    </div>
		            </div>
		       </li>  -->
		        
		</ul>
	    <div class="paddingl_r_15px_tb15px">
			<span class="font14">请阅读</span>&nbsp;
			<a class="law">《使用条例及隐私协议》</a>
		</div>
	    
	    <!--阅读知识产权承诺书弹框-->        
		<div class="alert_window" id="law">
    		<div class="share_list" id="law_text" style="bottom: 10%;">
    			<p class="mui-text-center border-bottom line-height44px font16 color333">使用条例及隐私协议</p>
    			<div style="overflow-y: scroll;height: 400px;padding: 0 15px;margin-bottom: 20px;">
    				<p class="color333 font12 margin-top10px">
					买家在七天内点击退货，通过快递退货（需见物流单号）十天内，卖家未确认收货的，去卖艺网通知支付宝或者微信退款买家
					</p>
					<p class="color333 font12">
						一、去卖艺网平台服务<br />

1、通过去卖艺网及关联公司提供的去卖艺网平台服务和其它服务，会员可在去卖艺网平台上创建店铺、发布交易信息、查询商品和服务信息、达成交易意向并进行交易、对其他会员进行评价、参加去卖艺网组织的活动以及使用其它信息服务及技术服务，具体以所开通的平台提供的服务内容为准。

2、您在去卖艺网平台上交易过程中与其他会员发生交易纠纷时，一旦您或其它会员任一方或双方共同提交去卖艺网要求调处，则去卖艺网作为独立第三方，有权根据单方判断做出调处决定，您了解并同意接受去卖艺网的判断和调处决定。

3、您了解并同意，去卖艺网有权应政府部门（包括司法及行政部门）的要求，向其提供您向去卖艺网提供的用户信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权等合法权益，则去卖艺网亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。

4、您在使用去卖艺网平台服务过程中，所产生的应纳税赋，以及一切硬件、软件、服务及其它方面的费用，均由您独自承担。
					</p>
					<p class="color333 font12">
						二、去卖艺网平台服务使用规范<br />

1、在去卖艺网平台上使用去卖艺网服务过程中，您承诺遵守以下约定：

a)实施的所有行为均遵守国家法律、法规等规范性文件及去卖艺网平台各项规则的规定和要求，不违背社会公共利益或公共道德，不损害他人的合法权益，不偷逃应缴税费，不违反本协议及相关规则。

b)在与其他会员交易过程中，遵守诚实信用原则，不采取不正当竞争行为，不扰乱网上交易

的正常秩序，不从事与网上交易无关的行为。

c)不发布国家禁止销售的或限制销售的商品或服务信息（除非取得合法且足够的许可），不发布涉嫌侵犯他人知识产权或其它合法权益的商品或服务信息，不发布违背社会公共利益或公共道德或去卖艺网认为不适合在去卖艺网平台上销售的商品或服务信息，不发布其它涉嫌违法或违反本协议及各类规则的信息。

2、您了解并同意，去卖艺网有权应政府部门（包括司法及行政部门）的要求，向其提供您向去卖艺网提供的用户信息和交易记录等必要信息。如您涉嫌侵犯他人知识产权等合法权益，则去卖艺网亦有权在初步判断涉嫌侵权行为存在的情况下，向权利人提供您必要的身份信息。
					</p>
					<p class="color333 font12">
						三、去卖艺网平台服务使用规范<br />

1、在去卖艺网平台上使用去卖艺网服务过程中，您承诺遵守以下约定：

a)您如果违反前述承诺，产生任何法律后果的，您应以自己的名义独立承担所有的法律责任，并确保去卖艺网免于因此产生任何损失或增加费用。

b）基于维护去卖艺网平台交易秩序及交易安全的需要，去卖艺网有权在发生恶意购买等扰乱市场正常交易秩序的情形下，执行关闭相应交易订单等操作。

c)经国家行政或司法机关的生效法律文书确认您存在违法或侵权行为，或者去卖艺网根据自身的判断，认为您的行为涉嫌违反法律法规的规定或涉嫌违反本协议和/或规则的条款的，则去卖艺网有权在去卖艺网平台上公示您的该等涉嫌违法或违约行为及去卖艺网已对您采取的措施。 

d)对于您在去卖艺网平台上发布的涉嫌违法、涉嫌侵犯他人合法权利或违反本协议和/或规则的信息，去卖艺网有权不经通知您即予以删除，且按照规则的规定进行处罚。

e)对于您违反本协议项下承诺，或您在去卖艺网平台上实施的行为，包括您未在去卖艺网平台上实施但已经对去卖艺网平台及其用户产生影响的行为，去卖艺网有权单方认定您行为的性质及是否构成对本协议和/或规则的违反，并根据单方认定结果适用规则予以处理或终止向您提供服务，且无须征得您的同意或提前通知予您。您应自行保存与您行为有关的全部证据，并应对无法提供充要证据而承担的不利后果。

f)如您涉嫌违反有关法律或者本协议之规定，使去卖艺网遭受任何损失，或受到任何第三方的索赔，或受到任何行政管理部门的处罚，您应当赔偿去卖艺网因此造成的损失和/或发生的费用，包括合理的律师费用。
					</p>
					<p class="color333 font12">
						您在点击确认本承诺之前，请仔细阅读本承诺，并确认您已完全理解本承诺。如您对本承诺有任何疑问，请立即停止通过去卖艺网（www.myee.net.cn）及“去卖艺APP”移动客户端上传的作品、文字、图片、视频、音频、多媒体资料或其他内容，并可向去卖艺网客服咨询。
					</p>
					<div class="mui-input-row mui-checkbox mui-left">
			            <label>我已阅读并同意</label>
			            <input name="checkbox1" type="checkbox" class="is_allow_release">  
		            </div>
    			</div>
			</div>
		</div>
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script> 
<script src="../js/jquery.min.js"></script>
<script src="../js/upload_pic.js"></script>
<script src="../js/apppublic.js"></script>
<script src="../js/app/apply.js"></script>
<script type="text/javascript">
	$(".is_allow_release").click(function(){
	 	if($(this).is(':checked')){
	 		$('#submit_btn').attr('disabled',false);
	 		$('#law').fadeOut(300);
	 		event.stopPropagation();
	 	}else{
	 		$('#submit_btn').attr('disabled',true);
	 	}
	 }) 
		 
	 //阅读知识产权承诺
	share($('#law'),$('#law_text'),$('.law'),$('.cancel_btn'));
	$('#merchant_name').blur(function(){
		if($('#merchant_name').val() == "") {
			toast('请输入姓名');
			return;
		}
	})
	
	
	$('#merchant_mobile').blur(function(){
		if($('#merchant_mobile').val() == "") {
			toast('请输入手机号');
			return;
		} else {
			if(!$('#merchant_mobile').val().match(p1)) {
				toast('请输入正确手机号码');
				return;
			}
		}
	})

	$('#merchant_card').blur(function(){
		if($('#merchant_card').val() == "") {
			toast('请输入身份证号');
			return;
		} else {
			if(!$('#merchant_card').val().match(card)) {
				toast('请输入正确身份证号');
				return;
			}
		}
	})
	
	$('#merchant_summary').blur(function(){
		if($('#merchant_summary').val() == "") {
			toast('请输入资质说明');
			return;
		}
	})
	
	
	$('#merchant_number').blur(function(){
		if($('#merchant_number').val()=="") {
			toast('请输入收款账号');
			return;
		}
	})

	


	
	
	


</script>
</html>