<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>联系我们</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	    <style type="text/css">
	    	span{width: 90%;display: inline-block;}
	    	.color666{color: #666;}
	    </style>
	</head>
	<body>
	    <header class="mui-bar mui-bar-nav bg_white">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title colorP">联系我们</h1>
	    </header>
		<div class="mui-content">
			<div></div>
			<ul class="mui-table-view  bg_white">
		        <li class="mui-table-view-cell">
		            <div>
		            	<div class="margin-bottom5px"><span>广告合作</span><i class="iconfont mui-icon mui-pull-right color999 share_btn">&#xe6c2;</i></div>
		            	<a class="font12">2326895861@myee.net.cn</a>
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div>
		            	<div class="margin-bottom5px"><span class="">投资合作</span><i class="iconfont mui-icon mui-pull-right color999 share_btn">&#xe6c2;</i></div>
		            	<a class="font12">3222808584@myee.net.cn</a>
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div>
		            	<div class="margin-bottom5px"><span class="">加入我们</span><i class="iconfont mui-icon mui-pull-right color999 share_btn">&#xe6c2;</i></div>
		            	<div><span class="font12 color666">欢迎有识之士</span><a class="font12">2326895861@myee.net.cn</a></div>		            	
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div>
		            	<div class="margin-bottom5px"><span class="">战略合作</span><i class="iconfont mui-icon mui-pull-right color999 share_btn">&#xe6c2;</i></div>
		            	<div><span class="font12 color666">运营、媒体、鉴定中心、机构等战略姓合作</span><a class="font12">2326895861@myee.net.cn</a></div>
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div>
		            	<div class="margin-bottom5px"><span class="">商务合作</span><i class="iconfont mui-icon mui-pull-right color999 share_btn">&#xe6c2;</i></div>
		            	<div><span class="font12 color666">博客、自媒体、视频栏目等有关入驻、资源置换 内容输出等合作</span><a class="font12">2326895861@myee.net.cn</a></div>
		            </div>
		        </li>
		        <li class="mui-table-view-cell">
		            <div>
		            	<div class="margin-bottom5px"><span class="">市场合作</span><i class="iconfont mui-icon mui-pull-right color999 share_btn">&#xe6c2;</i></div>
		            	<div><span class="font12 color666">品牌合作、联合推广、渠道合作、活动推广、ap p换量合作 </span><a class="font12">2326895861@myee.net.cn</a></div>
		            </div>
		        </li>
		    </ul>
		</div>
		<div class="alert_window">
			<ul class="share_list">
				<li>
					<span class="iconfont mui-icon">&#xe61d;</span>
					<p class="color0">微信好友</p>
				</li>
				<li>
					<span class="iconfont mui-icon">&#xe629;</span>
					<p class="color0">朋友圈</p>
				</li>
				<li>
					<span class="iconfont mui-icon">&#xe61f;</span>
					<p class="color0">QQ好友</p>
				</li>
				<li>
					<span class="iconfont mui-icon">&#xe614;</span>
					<p class="color0">QQ空间</p>
				</li>
				<li>
					<span class="iconfont mui-icon">&#xe640;</span>
					<p class="color0">微博</p>
				</li>
				<button type="button" class="mui-btn mui-btn-blue mui-btn-block padding_tb_8px margin0 cancel_btn">取消</button>
			</ul>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/open.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script src="../js/shareApp.js"></script>
	<script type="text/javascript">
		//联系我们分享弹窗
	share($('.alert_window'),$('.share_list'),$('.share_btn'),$('.cancel_btn'))
	</script>
</html>