<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>消息</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <style type="text/css">
    	.mui-search .mui-placeholder{color: #4c968e;}
    	.mui-search .mui-placeholder .mui-icon{color: #4c968e;}
    	.mui-search .mui-placeholder{background: #fff;border: 1px solid #4c968e;border-radius: 3px;}
    	.circle_pic{width: 50px;}
		.mui-badge{background: #ad4554;color: #fff;}
		.mui-search:before{top: 70%;}
    </style>
</head>
<body class="bg_white">

</body>
<script src="../js/mui.min.js"></script>
<script src="../js/open.js"></script>
<script src="../js/jquery.min.js"></script>
<script src="../js/release_type.js"></script>
</html>