<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人主页</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <style type="text/css">
    	.btn_group{width: 100%;overflow: hidden;position: fixed;bottom: 0;left: 0;padding: 6px 0;background: #fff;box-shadow: 0 0 10px #ddd;}
    	.mui-btn, button{border-radius:0;border: none;float: left;border-right: 1px solid #d3d3d3;}
    	button:last-child{border-right: none;}
    	.width33{width: calc(100%/3);}
    	.width50{width: calc(100%/2);}
    	.mui-input-row label~input{float: right;padding: 11px 0;}
    	.mui-input-row label{padding: 11px 0;}
    	.upfile_box{display: block;overflow: hidden;border-radius: 50%;background: #ccc;margin: 10px  calc(50% - 30px);}
    	.mui-table-view:before,.mui-table-view:after{background: transparent;}
    	.mui-content{padding-bottom: 44px;}
    </style>
</head>
<body>
	<header class="mui-bar mui-bar-nav bg_white">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	    <h1 class="mui-title colorP">个人主页</h1>
	</header>
	<div class="mui-content bg_white">
		<div class="bg_white">
            <div class="upfile_box">
		        <img src="../img/user1.jpg"/>
		    </div>
            <label for="uploadimg8" style="width: 100%;text-align: center;display: table;position: relative;bottom: 0;left: 0;">杨德威</label>
        	<p class="font13 color333 text-aligin font12"><span>男</span><span class="padding_l">广东深圳</span></p>
        	<p class="font13 colorP text-aligin">
        		<span onclick="openNewPage('user_fans.html')" class="font12">粉丝 <i>10</i></span>
        		<span onclick="openNewPage('user_attention.html')" class="padding_l font12">关注 <i>10</i></span>
        	</p>
        	<p class="font13  text-aligin">
        		<span class="wing">Ta的群组</span>
        	</p>
        	<div class="text-aligin">
        		<div style="display: inline-block;">
			        <img class="circle_pic" src="../img/ql1.jpg"/>
			        <p class="font13 color333">旅行部落</p>
			    </div>
			    <div class="padding_l" style="display: inline-block;">
			        <img class="circle_pic" src="../img/ql2.jpg"/>
			        <p class="font13 color333">捕猎美景</p>
			    </div>
			    <div class="padding_l" style="display: inline-block;">
			        <img class="circle_pic" src="../img/ql3.jpg"/>
			        <p class="font13 color333">闲谈人生</p>
			    </div>
        	</div>
        	<p class="font13 text-aligin margin-top20px">
        		<span class="wing">Ta的动态</span>
        	</p>
        	<ul class="mui-table-view">
			    <li onclick="openNewPage('video_detail.html')" class="mui-table-view-cell mui-media">
			        <a href="javascript:;" class="mui-clearfix">
			            <img class="mui-media-object mui-pull-right" src="../img/zxlr1.jpg">
			            <ul class="mui-media-body mui-pull-left user_view">
			               	<li>
			               		<div class="user_pic"><img src="../img/user1.jpg" /></div>
			               		<span class="padding_l">杨德威</span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe615;</i>
			               		<span class="padding_l">我做的琴能发出你要的声音</span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe60a;</i>
			               		<span class="padding_l">吉他、手作、大神、定制</span>
			               	</li>
			            </ul>
			        </a>
			    </li>
			    <li onclick="openNewPage('view_detail.html')" class="mui-table-view-cell mui-media">
			        <a href="javascript:;" class=" white-space">
			            <img class="mui-media-object mui-pull-right" src="../img/zxlr2.jpg">
			            <ul class="mui-media-body mui-pull-left user_view">
			               	<li>
			               		<div class="user_pic"><img src="../img/user1.jpg" /></div>
			               		<span class="padding_l">杨德威</span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe615;</i>
			               		<span class="padding_l">【雅昌专访】刘少白：莫以  小聪明来比大智慧  </span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe60a;</i>
			               		<span class="padding_l">书画、专访</span>
			               	</li>
			            </ul>
			        </a>
			    </li>
			     <li onclick="openNewPage('view_detail.html')" class="mui-table-view-cell mui-media">
			        <a href="javascript:;" class=" white-space">
			            <img class="mui-media-object mui-pull-right" src="../img/zxlr3.jpg">
			            <ul class="mui-media-body mui-pull-left user_view">
			               	<li>
			               		<div class="user_pic"><img src="../img/user1.jpg" /></div>
			               		<span class="padding_l">杨德威</span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe615;</i>
			               		<span class="padding_l">陶瓷制作工艺流程  </span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe60a;</i>
			               		<span class="padding_l">陶瓷、工艺、手工、艺术</span>
			               	</li>
			            </ul>
			        </a>
			    </li>
			    <p onclick="openNewPage('somebody_dynamic_state.html')" class="colorP text-aligin padding_tb_8px font13">查看更多</p>
			</ul>
			<!--Ta的商品-->
			<p class="font13 text-aligin margin-top10px">
        		<span class="wing">Ta的商品</span>
        	</p>
        	<ul class="mui-table-view margin-bottom5px bg_white">
            	<li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
	                <a href="javascript:;" class=" mui-slider-handle">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/1.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">精美枫木面板，音色纯正，音律协调</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font12">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left">
	                     			<div class="user_pic"><img src="../img/user1.jpg" /></div>
									<span class="padding_l line-height30px color999 font12">杨德威 </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px  font12">￥22000.00</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
	            <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/2.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">精美枫木面板，音色纯正，音律协调</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font12">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left">
	                     			<div class="user_pic"><img src="../img/user1.jpg" /></div>
									<span class="padding_l line-height30px color999 font12">杨德威 </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px  font12">￥22000.00</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
		        <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/3.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">云杉面板，高贵、大气</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font12">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left">
	                     			<div class="user_pic"><img src="../img/user1.jpg" /></div>
									<span class="padding_l line-height30px color999 font12">杨德威 </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px  font12">￥22000.00</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
	            <p onclick="openNewPage('somebody_goods.html')" class="colorP text-aligin padding_tb_8px font13">查看更多</p>
	        </ul>
	    </div>
		
		
		<div class="btn_group">
			<button type="button" class="mui-btn colorP width33  attentionBtn"><i class="iconfont mui-icon">&#xe62b;  关注</i></button>
	        <button type="button" onclick="openNewPage("chat.html")" class="mui-btn colorP width33"><i class="iconfont mui-icon">&#xe608;  聊天</i></button>
	        <button type="button" class="mui-btn colorP width33"><i class="iconfont mui-icon">&#xe616;  卖家资质</i></button>
		</div>
		<div class="btn_group">
			<button type="button" class="mui-btn colorP width50  attentionBtn"><i class="iconfont mui-icon">&#xe62b;  关注</i></button>
	        <button type="button" onclick="openNewPage('chat.html')" class="mui-btn width50 colorP"><i class="iconfont mui-icon">&#xe608;  聊天</i></button>
		</div>
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script src="../js/open.js"></script>
<script src="../js/jquery.min.js"></script>
<script type="text/javascript">
	var is_attention = true;
	$('.attentionBtn').click(function(){
		if(is_attention){
			$(this).css({'color':'#999'});
			$(this).html("<i class='iconfont mui-icon'>&#xe6aa;  已关注</i>");
			is_attention = false;
		} else{
			$(this).css({'color':'#4c968e'});
			$(this).html("<i class='iconfont mui-icon'>&#xe62b;  关注</i>");
			is_attention = true;
		}
	})
</script>
</html>