<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>个人主页</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <style type="text/css">
    	.btn_group{width: 100%;overflow: hidden;position: fixed;bottom: 0;left: 0;padding: 6px 0;background: #fff;box-shadow: 0 0 10px #ddd;}
    	.mui-btn, button{border-radius:0;border: none;float: left;border-right: 1px solid #d3d3d3;}
    	button:last-child{border-right: none;}
    	.width33{width: calc(100%/3);}
    	.width50{width: calc(100%/2);}
    	.mui-input-row label~input{float: right;padding: 11px 0;}
    	.mui-input-row label{padding: 11px 0;}
    	.upfile_box{display: block;overflow: hidden;border-radius: 50%;background: #ccc;margin: 10px  calc(50% - 30px);}
    	.mui-table-view:before,.mui-table-view:after{background: transparent;}
    	.mui-content{padding-bottom: 44px;}
    </style>
</head>
<body ng-app="app" ng-controller="myController">
	<header class="mui-bar mui-bar-nav bg_white">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left tui"></a>
	    <h1 class="mui-title colorP">个人主页</h1>
	</header>
	<div class="mui-content bg_white">
		<div class="bg_white">
            <div class="upfile_box">
		        <img ng-src="{{icon}}"/>
		    </div>
            <label for="uploadimg8" style="width: 100%;text-align: center;display: table;position: relative;bottom: 0;left: 0;">{{nick}}</label>
        	<p class="font13 color333 text-aligin font12"><span>{{gender}}</span><span class="padding_l">{{location}}</span></p>
        	<p class="font13 colorP text-aligin">
        		<span onclick="openNewPage('user_fans.html')" class="font12">粉丝 <i>{{fans_num}}</i></span>
        		<span onclick="openNewPage('user_attention.html')" class="padding_l font12">关注 <i>{{follow}}</i></span>
        	</p>
        	
        	<div class="text-aligin margin-bottom10px">
        		<p class="font13  text-aligin">
	        		<span class="wing">Ta的群组</span>
	        	</p>
        		<div class="padding_l border-bottom" style="display: inline-block;" ng-repeat="(key,group) in group">
			        <img class="circle_pic" ng-src="{{group.icon}}"/>
			        <p class="font13 color333">{{group.group_name}}</p>
			    </div>			    
			    <p class="mui-text-center font12 line-height30px" ng-if="groupPrompt">没有数据~</p>
			    <p ng-if="groupMore" ng-click="groupList()" class="colorP text-aligin padding_tb_8px font13">查看更多</p>
        	</div>
        	
        	<ul class="mui-table-view margin-bottom10px">
        		<p class="font13 text-aligin">
	        		<span class="wing">Ta的动态</span>
	        	</p>
			    <li ng-click="comein(vo.id,vo.status)" ng-repeat="(key,vo) in dynamic" class="mui-table-view-cell mui-media">
			        <a href="javascript:;" class="mui-clearfix">
			            <img class="mui-media-object mui-pull-right" src="../img/zxlr1.jpg">
			            <ul class="mui-media-body mui-pull-left user_view">
			               	<li>
			               		<div class="user_pic"><img ng-src="{{icon}}" /></div>
			               		<span class="padding_l">{{nick}}</span>
			               	</li> 
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe615;</i>
			               		<span class="padding_l">{{vo.comment}}</span>
			               	</li>
			               	<li>
			               		<i class="iconfont mui-icon icon-color">&#xe60a;</i>
			               		<span class="padding_l"><!--吉他、手作、大神、定制--></span>
			               	</li>
			            </ul>
			        </a>
			    </li>
			    <p class="mui-text-center font12 line-height30px" ng-if="dynamicPrompt">没有数据~</p>
			    <p ng-if="dynamicMore" ng-click="dynamicList()" class="colorP text-aligin padding_tb_8px font13">查看更多</p>
			</ul>
			<!--Ta的商品-->
        	<ul class="mui-table-view margin-bottom5px bg_white">
        		<p class="font13 text-aligin">
	        		<span class="wing">Ta的商品</span>
	        	</p>
            	<li ng-click="lookGood(vo.id)" ng-repeat="(key,vo) in goods" class="mui-table-view-cell mui-media">
	                <a href="javascript:;" class=" mui-slider-handle">
	                    <img class="mui-media-object mui-pull-left goods_pic " ng-src="{{vo.good_image}}">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">{{vo.good_name}}</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font12">工期：<i>{{vo.maf_time}}</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left">
	                     			<div class="user_pic"><img ng-src="{{icon}}" /></div>
									<span class="padding_l line-height30px color999 font12">{{nick}} </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px  font12">￥{{vo.price}}</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
	            <p class="mui-text-center font12 line-height30px" ng-if="goodsPrompt">没有数据~</p>
	            <p ng-if="goodsMore" ng-click="GoodsList()" class="colorP text-aligin padding_tb_8px font13">查看更多</p>
	        </ul>
	    </div>
		<div class="btn_group">
			<button type="button" class="mui-btn colorP width50  attentionBtn" ng-click="view_follow"><i class="iconfont mui-icon" id="follow2">&#xe669;  关注</i><i class="iconfont mui-icon" ng-if="attention==115" id="follow2">&#xe669; 取消关注</i></button>
	        <button type="button" ng-click="honerChat()" class="mui-btn width50 colorP"><i class="iconfont mui-icon">&#xe608;  聊天</i></button>
		</div>
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script src="../js/open.js"></script>
<script src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script>
<script src="../js/apppublic.js"></script>
<script src="../js/app/honer_page.js"></script>
<script type="text/javascript">
	    $('.tui').on('tap',function(){
                 viewBack();
                 })
                 ////重写返回事件
                 function viewBack(){
                     window.plus.bridge.execSync("community","backNews","");
                 }
	var is_attention = true;
	$('.attentionBtn').click(function(){
		if(is_attention){
			$(this).css({'color':'#999'});
			$(this).html("<i class='iconfont mui-icon'>&#xe6aa;  已关注</i>");
			is_attention = false;
		} else{
			$(this).css({'color':'#4c968e'});
			$(this).html("<i class='iconfont mui-icon'>&#xe62b;  关注</i>");
			is_attention = true;
		}
	})
</script>
</html>