<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>消息</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <style type="text/css">
    	.mui-search .mui-placeholder{color: #4c968e;}
    	.mui-search .mui-placeholder .mui-icon{color: #4c968e;}
    	.mui-search .mui-placeholder{background: #fff;border: 1px solid #4c968e;border-radius: 3px;}
    	.circle_pic{width: 50px;}
		.mui-badge{background: #ad4554;color: #fff;}
		.mui-search:before{top: 70%;}
    </style>
</head>
<body class="bg_white">

</body>
<script src="../js/mui.min.js"></script>
<script src="../js/open.js"></script>
<script src="../js/jquery.min.js"></script>
	<script>
  		mui.init({ swipeBack: false });
		window.addEventListener('changeVal', function(event) {
			var showWin = event.detail.showWin;
			if(showWin == 1) {
				//触发弹窗
				plus.nativeUI.actionSheet({
					cancel: "取消",
					buttons: [{
						title: "发布内容"
					}, {
						title: "发布商品"
					}]
				}, function(e) {
					var i = e.index;
				　　　window.plus.bridge.execSync("community", "pushWebView", "");
					if(i == 1) {
						openPublish('release_viewMedia.html')
					} else if(i == 2) {
						if(plus.storage.getItem('sign') == '1') {
							openNewPage('release_goods.html');

						} else {
							mui.toast("您还未注册卖家，请完整注册申请，才可以发布商品噢。");
							openNewPage('apply_for_seller.html');
						}
					}
				});
			}
		});
    </script>
</html>