<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>我的</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../css/app.css"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	</head>
	<body>
		<header class="mui-bar mui-bar-nav bg_white">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title colorP">物流录入</h1>
	   		<button class="mui-btn-link mui-pull-right"><span class="colorP">提交</span></button>
	    </header>
	    <div class="mui-content">
	    	<div></div>
	        <ul class="mui-table-view bg_white">
                <!--<li class="mui-table-view-cell">
                    <div class="mui-input-row">
                        <input type="text" class="mui-input-clear" placeholder="物流公司">
                    </div>	                    
                </li>-->
                <li class="mui-table-view-cell mui-collapse">
                    <a class="mui-navigate-right" href="#" style="border-bottom: 1px solid #efefef;">物流公司</a>
                	<div class="mui-collapse-content" style="height: 220px;overflow: auto">
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                       <p class="padding_tb_8px border-bottom">圆通快递</p>
                    </div>
                </li>                    
                <li class="mui-input-row">
                    <input type="text" class="mui-input-clear" placeholder="物流单号">
                </li>
            </ul>
	    </div>
	</body>
	<script src="../js/mui.min.js"></script>
</html>