<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>我的收藏</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <style type="text/css">
    	.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{color: #4c968e;background: transparent;}
    	.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{width: 50%;background-color: #4c968e;}
    	.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{border: none;}
    </style>
</head>
<body ng-app="detailsApp" ng-controller="detailsController">
	<header class="mui-bar mui-bar-nav bg_white">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>		
	    <h1 class="mui-title colorP">我的收藏</h1>
	</header>
	<div class="mui-content">
		<div class="mui-slider">
		    <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted bg_white">
		        <a class="mui-control-item mui-active" href="#item1">动态</a>
		        <a class="mui-control-item" href="#item2">商品</a>
		    </div>
		    <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-6"></div>
		    <div class="mui-slider-group">
		        <div id="item1" class="mui-slider-item mui-control-content mui-active">
		            <ul class="mui-table-view bg_white" ng-repeat="(index,x) in notes" ng-click="goodsInfo(g.id)">
					    <li class="mui-table-view-cell mui-media">
					        <a href="javascript:;" class="mui-clearfix">
					            <img class="mui-media-object mui-pull-right margin_tb_8px" src="{{x.subject}}">
					            <ul class="mui-media-body mui-pull-left user_view"> 
					               	<li>
					               		<div class="user_pic"><img src="{{x.icon}}" /></div>
					               		<span class="padding_l">{{x.nick}}</span>
					               	</li>
					               	<li>
					               		<i class="iconfont mui-icon icon-color">&#xe615;</i>
					               		<span class="padding_l">{{x.content}}</span>
					               	</li>
					               	<li>
					               		<i class="iconfont mui-icon icon-color">&#xe60a;</i>
					               		<span class="padding_l">{{x.tags}}</span>
					               	</li>
					            </ul>
					        </a>
					    </li>
					</ul>
		        </div>
		        <div id="item2mobile" class="mui-slider-item mui-control-content">
		            <ul class="mui-table-view margin-bottom5px bg_white">
		            	<li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/shangpin1.jpg">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">赖巍《金发女孩》30版</div>
			                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font14">工期：<i>3</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<div class="mui-pull-left">
			                     			<div class="user_pic"><img src="../img/user12.jpg" /></div>
											<span class="padding_l line-height30px color999 font14">24K纯帅 </span>
			                     		</div>
			                     		<span class="mui-pull-right colorRed line-height30px">￥2200.00</span>
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <!--<li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/shangpin2.jpg">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">天行者《晨曦》</div>
			                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font14">工期：<i>3</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<div class="mui-pull-left">
			                     			<div class="user_pic"><img src="../img/user7.jpg" /></div>
											<span class="padding_l line-height30px color999 font14">捕捉美好 </span>
			                     		</div>
			                     		<span class="mui-pull-right colorRed line-height30px">￥998.00</span>
			                     	</div>
			                    </div>
			                </a>
			            </li>
				        <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/shangpin5.jpg">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">天行者《晨曦》</div>
			                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font14">工期：<i>3</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<div class="mui-pull-left">
			                     			<div class="user_pic"><img src="../img/user7.jpg" /></div>
											<span class="padding_l line-height30px color999 font14">捕捉美好 </span>
			                     		</div>
			                     		<span class="mui-pull-right colorRed line-height30px">￥998.00</span>
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/shangpin6.jpg">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">天行者《晨曦》</div>
			                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font14">工期：<i>3</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<div class="mui-pull-left">
			                     			<div class="user_pic"><img src="../img/user6.jpg" /></div>
											<span class="padding_l line-height30px color999 font14">24K纯帅 </span>
			                     		</div>
			                     		<span class="mui-pull-right colorRed line-height30px">￥2200.00</span>
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/shangpin4.jpg">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">盒砚 石眼 苴却砚台 中国彩砚尺 寸12x9x3厘米…</div>
			                     	<div class="mui-clearfix"><span class="mui-pull-right colorP font14">工期：<i>3</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<div class="mui-pull-left">
			                     			<div class="user_pic"><img src="../img/user8.jpg" /></div>
											<span class="padding_l line-height30px color999 font14">回眸瞬间 </span>
			                     		</div>
			                     		<span class="mui-pull-right colorRed line-height30px">￥2200.00</span>
			                     	</div>
			                    </div>
			                </a>
			            </li>-->
			        </ul>
		        </div>
		    </div>
		</div>
        
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script src="../js/open.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script> 
<script src="../js/jquery.min.js"></script>
<script src="../js/apppublic.js"></script>
<script src="../js/app/my_collect.js"></script>
</html>