<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>订单详情（待评价）</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	    <style type="text/css">
	    	.mui-checkbox.mui-left input[type=checkbox], .mui-radio.mui-left input[type=radio]{left: 0;}
			.mui-checkbox.mui-left label, .mui-radio.mui-left label{padding-left: 36px;}
			.mui-radio input[type=radio]:checked:before{content:'\e442'}
	    </style>
	</head>
	<body>
	    <header class="mui-bar mui-bar-nav bg_white">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title colorP">订单详情</h1>
	    </header>
		<div class="mui-content">
			<div></div>
			<ul class="mui-table-view margin-bottom10px bg_white">
				<li class="mui-table-view-cell mui-media">
					<i class="mui-icon iconfont color999">&#xe61b;</i>
					<span class="color0">订单编号：<i>4876487946178</i></span>
			    </li>
			    <li class="mui-table-view-cell mui-media">
		            <span class="mui-pull-left iconfont color999 font26 padding_t10px">&#xe61c;</span>
		            <div class="mui-media-body padding_l">
		              	<p class="color0 mui-clearfix line-height30px">
		              		<span class="mui-pull-left font18">张三</span>
		              		<span class="mui-pull-right font14">12345678910</span>
		              	</p>
		                <p class="color0 font14">广东省深圳市宝安区沙井中心路1号</p>
		            </div>
			    </li>
			</ul>
			<ul class="mui-table-view margin-bottom5px bg_white">
	        	<li class="paddingl_r_15px_tb11px bg_white border-bottom">
	               <div class="user_pic"><img src="../img/user8.jpg" /></div>
					<span class="padding_l line-height30px">回眸瞬间 </span>
	            </li>
	            <li class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/shangpin3.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">鼎湖春原创大师江雪壶1000g原价30000</div>
	                     	<div class="mui-clearfix line-height30px"><span class="mui-pull-right colorP font14">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<span class="mui-pull-left colorRed">￥2200.00</span>
	                     		<span class="mui-pull-right">x1</span>			                     		
	                     	</div>
	                    </div>
	                </a>
	            </li>
	        </ul>
            <div class="mui-table-view-cell mui-media mui-clearfix bg_white" style="position: fixed;bottom: 0;left: 0;width: 100%;">
            	<span class="mui-pull-left">合计：<i>2200.00</i></span>
            	<button onclick="openNewPage('evaluate_for_goods.html')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14">评价</button>
            </div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/open.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script type="text/javascript">
		$('.del_btn').click(function(){
			$(this).parent().parent().parent().remove();
		})
	</script>
</html>