<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>购买记录</title>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
    <style type="text/css">
    	.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{color: #4c968e;background: transparent;}
    	.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{width: 20%;background-color: #4c968e;}
    	.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item{border: none;}
    </style>
</head>
<body  ng-app="myorders" ng-controller="myorderscontroller">
	<header class="mui-bar mui-bar-nav bg_white">
	    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left colorP"></a>
	    <h1 class="mui-title colorP">购买记录</h1>
	</header>
	<div class="mui-content">
		<div class="mui-slider">
		    <div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted bg_white">
		        <a class="mui-control-item mui-active" href="#item1">全部</a>
		        <a class="mui-control-item"  href="#item2">待付款</a>
		        <a class="mui-control-item" href="#item3">待发货</a>
		        <a class="mui-control-item" href="#item4">待收货</a>
		        <a class="mui-control-item" href="#item5">待评价</a>
		    </div>
		    <div id="sliderProgressBar" class="mui-slider-progress-bar margin-bottom5px"></div>
		    <div class="mui-slider-group">
		    	<!--全部-->
		        <div id="item1" class="mui-slider-item mui-control-content mui-active">
		            <ul class="mui-table-view margin-bottom5px bg_white" ng-repeat="(index,v) in orders">
			        	<li class="paddingl_r_15px_tb11px bg_white border-bottom">
			               <div class="user_pic"><img src="{{v.image}}" /></div>
							<span class="padding_l line-height30px">{{v.nick}} </span>
			            </li>
			            <li   class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="{{v.icon}}">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">{{v.trade_name}}</div>
			                     	<div class="mui-clearfix line-height30px"><span class="mui-pull-right colorP font14">工期：<i>{{v.maf_time}}</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<span class="mui-pull-left colorRed">￥{{v.money}}</span>
			                     		<span class="mui-pull-right">x{{v.num}}</span>			                     		
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li class="mui-table-view-cell mui-media mui-clearfix">
			            	<span class="mui-pull-left">合计：<i>{{v.ordermoney}}</i></span>
			            
			            	<button ng-click="ordershen(v.id,'0')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==0" >申请退款</button>
			            	<button ng-click="openPage('evaluate_for_goods.html')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==1" >查看物流</button>
			                <button ng-click="ordershen(v.id,1)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==1" >确认收货</button>
			                <button ng-click="pinglun(v.ddid)"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==2" >评价</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="v.state==3" >退款中...</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="v.state==4" >已完成</button>
			                <button ng-click="ordershen(v.id,'0')"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==5" >退款失败</button>
			                <button ng-click="ordershen(v.id,'6')" type="button" class="mui-btn  mui-btn-block width20 padding5px font14 margin-right24 cancel_order_btn" ng-if="v.state==6" >取消订单</button>
			                <button ng-click="pay(v.id)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==6" >付款</button>
			            </li>
			        </ul>
			        
		        </div>
		        <!--代付款-->
		        <div id="item2" class="mui-slider-item mui-control-content">
		            <ul class="mui-table-view margin-bottom5px bg_white" ng-repeat="(index,a) in orders2">
			        	<li class="paddingl_r_15px_tb11px bg_white border-bottom">
			               <div class="user_pic"><img src="{{a.image}}" /></div>
							<span class="padding_l line-height30px">{{a.nick}} </span>
			            </li>
			            <li  class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="{{a.icon}}">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">{{a.trade_name}}</div>
			                     	<div class="mui-clearfix line-height30px"><span class="mui-pull-right colorP font14">工期：<i>{{a.maf_time}}</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<span class="mui-pull-left colorRed">￥{{a.money}}</span>
			                     		<span class="mui-pull-right">x{{a.num}}</span>			                     		
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li class="mui-table-view-cell mui-media mui-clearfix">
			            	<span class="mui-pull-left">合计：<i>{{a.ordermoney}}</i></span>
			            
			            	<button ng-click="ordershen(a.id,'0')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="a.state==0" >申请退款</button>
			            	<button ng-click="openPage('evaluate_for_goods.html')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="a.state==1" >查看物流</button>
			                <button ng-click="ordershen(a.id,1)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="a.state==1" >确认收货</button>
			                <button ng-click="pinglun(v.ddid)"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="a.state==2" >评价</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="a.state==3" >退款中...</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="a.state==4" >已完成</button>
			                <button ng-click="ordershen(a.id,'0')"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="a.state==5" >退款失败</button>
			                <button ng-click="ordershen(a.id,'6')" type="button" class="mui-btn  mui-btn-block width20 padding5px font14 margin-right24 cancel_order_btn" ng-if="v.state==6" >取消订单</button>
			                <button ng-click="pay(a.id)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="a.state==6" >付款</button>
			            </li>
			        </ul>
		        </div>
		        <!--代付款-->
		        <div id="item3" class="mui-slider-item mui-control-content">
		            <ul class="mui-table-view margin-bottom5px bg_white" ng-repeat="(index,l) in orders3">
			        	<li class="paddingl_r_15px_tb11px bg_white border-bottom">
			               <div class="user_pic"><img src="{{l.image}}" /></div>
							<span class="padding_l line-height30px">{{l.nick}} </span>
			            </li>
			            <li  class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="{{l.icon}}">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">{{l.trade_name}}</div>
			                     	<div class="mui-clearfix line-height30px"><span class="mui-pull-right colorP font14">工期：<i>{{l.maf_time}}</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<span class="mui-pull-left colorRed">￥{{l.money}}</span>
			                     		<span class="mui-pull-right">x{{l.num}}</span>			                     		
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li class="mui-table-view-cell mui-media mui-clearfix">
			            	<span class="mui-pull-left">合计：<i>{{l.ordermoney}}</i></span>
			            
			            	<button ng-click="ordershen(l.id,'0')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="l.state==0" >申请退款</button>
			            	<button ng-click="openPage('evaluate_for_goods.html')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="l.state==1" >查看物流</button>
			                <button ng-click="ordershen(l.id,1)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="l.state==1" >确认收货</button>
			                <button ng-click="pinglun(l.ddid)"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="l.state==2" >评价</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="l.state==3" >退款中...</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="l.state==4" >已完成</button>
			                <button ng-click="ordershen(l.id,'0')"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="l.state==5" >退款失败</button>
			                <button ng-click="ordershen(l.id,'6')" type="button" class="mui-btn  mui-btn-block width20 padding5px font14 margin-right24 cancel_order_btn" ng-if="l.state==6" >取消订单</button>
			                <button ng-click="pay(l.id)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="l.state==6" >付款</button>
			            </li>
			        </ul>
		        </div>
		        <!--代付款-->
		        <div id="item4" class="mui-slider-item mui-control-content">
		            <ul class="mui-table-view margin-bottom5px bg_white" ng-repeat="(index,u) in orders4">
			        	<li class="paddingl_r_15px_tb11px bg_white border-bottom">
			               <div class="user_pic"><img src="{{u.image}}" /></div>
							<span class="padding_l line-height30px">{{u.nick}} </span>
			            </li>
			            <li  class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="{{u.icon}}">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">{{u.trade_name}}</div>
			                     	<div class="mui-clearfix line-height30px"><span class="mui-pull-right colorP font14">工期：<i>{{u.maf_time}}</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<span class="mui-pull-left colorRed">￥{{u.money}}</span>
			                     		<span class="mui-pull-right">x{{u.num}}</span>			                     		
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li class="mui-table-view-cell mui-media mui-clearfix">
			            	<span class="mui-pull-left">合计：<i>{{u.ordermoney}}</i></span>
			            
			            	<button ng-click="ordershen(u.id,'0')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="u.state==0" >申请退款</button>
			            	<button ng-click="openPage('evaluate_for_goods.html')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="u.state==1" >查看物流</button>
			                <button ng-click="ordershen(u.id,1)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="u.state==1" >确认收货</button>
			                <button ng-click="pinglun(u.ddid)"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="u.state==2" >评价</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="u.state==3" >退款中...</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="u.state==4" >已完成</button>
			                <button ng-click="ordershen(u.id,'0')"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="u.state==5" >退款失败</button>
			                <button ng-click="ordershen(u.id,'6')" type="button" class="mui-btn  mui-btn-block width20 padding5px font14 margin-right24 cancel_order_btn" ng-if="u.state==6" >取消订单</button>
			                <button ng-click="pay(u.id)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="u.state==6" >付款</button>
			            </li>
			        </ul>
		        </div>
		         <!--代付款-->
		        <div id="item5" class="mui-slider-item mui-control-content">
		            <ul class="mui-table-view margin-bottom5px bg_white" ng-repeat="(index,e) in orders5">
			        	<li class="paddingl_r_15px_tb11px bg_white border-bottom">
			               <div class="user_pic"><img src="{{e.image}}" /></div>
							<span class="padding_l line-height30px">{{e.nick}} </span>
			            </li>
			            <li  class="mui-table-view-cell mui-media">
			                <a href="javascript:;">
			                    <img class="mui-media-object mui-pull-left goods_pic "  src="{{e.icon}}">
			                    <div class="mui-media-body">
			                     	<div class="mui-ellipsis">{{e.trade_name}}</div>
			                     	<div class="mui-clearfix line-height30px"><span class="mui-pull-right colorP font14">工期：<i>{{e.maf_time}}</i>天</span></div>
			                     	<div class="mui-clearfix">
			                     		<span class="mui-pull-left colorRed">￥{{e.money}}</span>
			                     		<span class="mui-pull-right">x{{e.num}}</span>			                     		
			                     	</div>
			                    </div>
			                </a>
			            </li>
			            <li class="mui-table-view-cell mui-media mui-clearfix">
			            	<span class="mui-pull-left">合计：<i>{{e.ordermoney}}</i></span>

			            	<button ng-click="ordershen(e.id,'0')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="e.state==0" >申请退款</button>
			            	<button ng-click="openPage('evaluate_for_goods.html')" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="v.state==1" >查看物流</button>
			                <button ng-click="ordershen(e.id,1)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="e.state==1" >确认收货</button>
			                <button ng-click="pinglun(e.ddid)"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="e.state==2" >评价</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="e.state==3" >退款中...</button>
			                <button type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14 have_fishined color999" ng-if="e.state==4" >已完成</button>
			                <button ng-click="ordershen(e.id,'0')"  type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="e.state==5" >退款失败</button>
			                <button ng-click="ordershen(e.id,'6')" type="button" class="mui-btn  mui-btn-block width20 padding5px font14 margin-right24 cancel_order_btn" ng-if="e.state==6" >取消订单</button>
			                <button ng-click="pay(e.id)" type="button" class="mui-btn mui-btn-blue mui-btn-block width20 padding5px font14" ng-if="e.state==6" >付款</button>
			            </li>
			        </ul>
		        </div>
		    </div>
		</div>
	</div>
</body>
<script src="../js/mui.min.js"></script>
<script src="../js/open.js"></script>
<script type="text/javascript" src="../js/angular.min.js"></script> 
<script src="../js/jquery.min.js"></script>
<script src="../js/apppublic.js"></script>
<script src="../js/app/my_orders.js"></script>
<script type="text/javascript">
	$('.cancel_order_btn').click(function(){
		$(this).parent().prevAll().remove();
		$(this).parent().remove();
	})
</script>
</html>
