<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>卖家资质</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	    <style type="text/css">
	    	span{text-indent: 2em;}
	    	.aptitude_pic{padding: 7.5px;width: 100%;overflow: hidden;}
	    	.aptitude_pic img{width: calc(90%/4);margin: calc(10%/8);float: left;height: auto;max-height: 60px;}	    	
	    </style>
	</head>
	<body>
	    <header class="mui-bar mui-bar-nav bg_white">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title colorP">卖家资质</h1>
	    </header>
		<div class="mui-content">
			<div class="bg_white paddingl_r_15px_tb11px margin-bottom5px">
				<span>出于业余爱好，我用多把不同档次的小提琴，在音柱与音色的微妙关系上作了些摸索，在论坛上零星地发表了四篇贴子，为便于琴友们阅读参考，在此删除了试验过程，只求结果，简化整理成一篇。因为决定提琴音色的因素是多方面的、多方位的，试验只能偏重于某一个方面，难免要受其它因素牵制而得出片面的、甚至是错误的结果。</span>
			</div>
			<div class="aptitude_pic bg_white">
				<img src="../img/1.jpg"/>
				<img src="../img/2.jpg"/>
				<img src="../img/3.jpg"/>
				<img src="../img/4.jpg"/>				
				<img src="../img/1.jpg"/>
				<img src="../img/2.jpg"/>
				<img src="../img/3.jpg"/>
				<img src="../img/4.jpg"/>
			</div>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/open.js"></script>
</html>