<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>Ta的商品</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	    <style type="text/css">
	    	.user{width: 55%;}
	    	.user span{width: 68%;display: inline-block;}
	    </style>
	</head>
	<body ng-app="app" ng-controller="myController">
	    <header class="mui-bar mui-bar-nav bg_white">
	        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
	        <h1 class="mui-title colorP">Ta的商品</h1>
	    </header>
		<div class="mui-content">
			<div></div>
			<ul class="mui-table-view margin-bottom5px bg_white">
	            <li ng-click="comein(vo.id)" ng-repeat="(key,vo) in info" class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic" ng-src="{{vo.good_image}}">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">{{vo.good_name}}</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP">工期：<i>{{vo.maf_time}}</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left user">
	                     			<div class="user_pic"><img ng-src="{{icon}}" /></div>
									<span class="padding_l line-height30px color999 mui-ellipsis">{{nick}}</span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px">￥{{vo.price}}</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
	            <!--<li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/2.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">盒砚 石眼 苴却砚台 中国彩砚尺 寸12x9x3厘米…</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left user">
	                     			<div class="user_pic"><img src="../img/user1.jpg" /></div>
									<span class="padding_l line-height30px color999 mui-ellipsis">杨德威 </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px">￥2200.00</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
	            <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/3.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">鼎湖春原创大师江雪壶1000g原 价30000</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left user">
	                     			<div class="user_pic"><img src="../img/user1.jpg" /></div>
									<span class="padding_l line-height30px color999 mui-ellipsis">杨德威 </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px">￥22000.00</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>
	            <li onclick="openNewPage('goods_detail.html')" class="mui-table-view-cell mui-media">
	                <a href="javascript:;">
	                    <img class="mui-media-object mui-pull-left goods_pic "  src="../img/1.jpg">
	                    <div class="mui-media-body">
	                     	<div class="mui-ellipsis">天行者《晨曦》</div>
	                     	<div class="mui-clearfix"><span class="mui-pull-right colorP">工期：<i>3</i>天</span></div>
	                     	<div class="mui-clearfix">
	                     		<div class="mui-pull-left user">
	                     			<div class="user_pic"><img src="../img/user1.jpg" /></div>
									<span class="padding_l line-height30px color999 mui-ellipsis">杨德威 </span>
	                     		</div>
	                     		<span class="mui-pull-right colorRed line-height30px">￥22000.00</span>
	                     	</div>
	                    </div>
	                </a>
	            </li>	           -->
	        </ul>
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/open.js"></script>
	<script src="../js/jquery.min.js"></script>
	<script type="text/javascript">
		$('.top_down i').click(function(){
			$(this).addClass('colorP').siblings().removeClass('colorP');
		})
	</script>

	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script src="../js/apppublic.js"></script>
	<script src="../js/app/somebody_goods.js"></script>		
</html>
