<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
	    <title>系统消息</title>
	    <link href="../css/mui.min.css" rel="stylesheet"/>
	    <link rel="stylesheet" type="text/css" href="../fonts/iconfont/iconfont.css"/>
	    <link rel="stylesheet" type="text/css" href="../css/global.css"/>
	</head>
	<body class=" bg_white">
		<header class="mui-bar mui-bar-nav bg_white">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left colorP"></a>
		    <h1 class="mui-title colorP">系统消息</h1>
		</header>
		<div class="mui-content bg_white">
			<div class="paddingl_r_15px_tb11px bg_white border-bottom ">
				<h4 class="paddingl_r_6px_tb8px">新用户通知</h4>
				<p class="font13 padding_l">2016-9-14 14:00</p>
			</div>
			<div class="paddingl_r_15px_tb11px bg_white margin-bottom10px">
		        <span>欢迎加入社交商城，在这里你既可以交到来自全国各地的朋友，还可以购买商品哦，手工品字画，定制服务，应有尽有，只有你想不到，没有我们做不到的…</span>				
			</div>		    
		</div>
	</body>
	<script src="../js/mui.min.js"></script>
	<script src="../js/open.js"></script>
</html>